body{
	background-color: #A3C4EB;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
	color: #F6FAFF;
}

#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#title{
	font-size: 4rem;
	color: #F6FAFF;
	text-align: center;
	margin-bottom: 0.2rem;
}

button.center{
	width: 8rem;
	height: 4rem;
	margin-top: 1rem;
	background-color: #FFDE70;
	color: #173B64;
	border-radius: 2rem;
	box-shadow: 0 0.25rem 0 #112250;
	border: none;
	font-size: 0.8rem;
	cursor: pointer;
}

button.center:hover{
	background-color: #173B64;
	color: #FFDE70;
	box-shadow: 0 0 0;
}

button.center:active{
	background-color: #F6FAFF;
	color: #173B64;
}

#hud{
	width: 100%;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: #173B64;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

#game {
    display: block;
    margin: 0 auto;
}

